body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el hero */
#hero {
    background-image: url('https://via.placeholder.com/1500x600');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* Estilos para el footer */
footer {
    padding: 50px 0;
}

/* Estilos para las tarjetas del portafolio */
.card {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilos personalizados para el menú */
.navbar {
    background-color: #333;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #ffd700;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Estilos para el efecto hover en el menú */
.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffd700;
    transition: width 0.3s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width 0.3s;
}
