/* Estilos para el menu de navegacion*/
.navbar {
    background: url('src/img/denim-bck2.png'); /* Capa de color sólido con opacidad combinada con la imagen de fondo */
    object-fit: fill;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #e9b9f2; /* Color de texto */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #c96fd2; /* Color de texto al pasar el ratón */
}

.navbar-toggler {
    border-color: #e9b9f2; /* Color del botón del menú */
}

.navbar-toggler-icon {
    background-color: #e9b9f2; /* Color del icono del botón del menú */
}

/* Estilos para el efecto hover en el menú */
.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c96fd2; /* Color del efecto hover */
    transition: width 0.3s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width 0.3s;
}

/*Seccion Principal*/
#principal {
    position: relative;
    background-image: url('src/img/DellaWendiCarrousel1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e9b9f2; /* Color de texto */
}

.filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con un 50% de opacidad */
}

.container {
    position: relative; /* Asegurar que el contenido dentro del contenedor esté en una capa superior */
    z-index: 1; /* Aumentar el valor de z-index */
}

/* Estilos para la sección dellawendi */
.oval-bck {
    padding: 100px 0;
    background-color: #c96fd2; /* Color de fondo */
    color: #09040c; /* Color de texto */
    border-top-left-radius: 50%; /* Bordes redondeados en la esquina superior izquierda */
    border-bottom-left-radius: 50%; /* Bordes redondeados en la esquina inferior izquierda */
    background-position: right; /* Desplazar el fondo hacia la derecha */
    display: flex; /* Utilizamos flexbox para controlar el diseño */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
}

/*DellaWendi Imágen izq*/
#Dellawendi-photo {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Para asegurarse de que no haya espacios en blanco debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/*DellaWendi descripcion dch*/
.description {
    padding: 20px;
    background-color: #ffffff; /* Fondo de la descripción */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}




/* Estilos para las tarjetas del portafolio de las chaquetas/items */
.card {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    background-color: #09040c; /* Color de fondo */
    color: #e9b9f2; /* Color de texto */
    border: 2px solid #af7ebc; /* Borde */
}

.card:hover {
    transform: translateY(-5px);
}


/* Estilos para el footer */
footer {
    padding: 50px 0;
    background-color: #09040c; /* Color de fondo */
    color: #c96fd2; /* Color de texto */
}


/*Clases */
a.btn.btn-primary.btn-lg {
    background-color: #af7ebc; /* Color de fondo del botón */
}